/* a few changes to noUiSlider to look better with leaflet */

/* slider control div */
.info.slider-axis {
    background: none;
    box-shadow: none;
}
.info.slider-axis h4 {
    color: #111;
}

/* slider */
.noUi-target {
    border: 1px solid #999;
    margin: 10px;
}
.noUi-handle {
    border: 1px solid #aaa;
}

/* slider pips */
.noUi-marker {
    background: #222;
}
.noUi-value {
    color: #080808;
    cursor: pointer;
}

/* vertical sliders */
.noUi-vertical .noUi-handle {
    width: 28px;
    height: 28px;
    left: -6px;
    top: -14px;
}
.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
    width: 14px;
    height: 1px;
    left: 6px;
    top: 11px;
}
.noUi-vertical .noUi-handle:after {
    top: 14px;
}
